<%= form_for :user, url: new_user_path, method: :post, html: {id: 'signUpForm'} do |f| %>

  <p>
    <%= f.text_field :first_name, placeholder: 'First Name', class: "form-control"%>
  </p>

  <p>
    <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-control" %>
  </p>

  <p>
    <%= f.email_field :email, placeholder: 'Email', class: "form-control" %>
  </p>

  <p>
    <%= f.text_field :phone, placeholder: 'Phone Number', class: "form-control" %>
  </p>

  <p>
    <%= f.text_field :title, placeholder: 'Title', class: "form-control" %>
  </p>

  <p>
    <%= f.text_area :summary, placeholder: 'Tell me about yourself', class: "form-control" %>
  </p>

  <p>
    <%= f.text_field :linkedin, placeholder: 'LinkedIn Profile Link', class: "form-control" %>
  </p>

  <p>
    <%= f.text_field :github, placeholder: 'Github Profile Link', class: "form-control" %>
  </p>

  <p>
    <%= f.text_field :picture, placeholder: 'Enter Link to 200x200 Picture', class: "form-control" %>
  </p>

  <p>
    <%= f.password_field :password, placeholder: 'Password', class: "form-control" %>
  </p>

  <p>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password', class: "form-control" %>
  </p>

  <%= f.fields_for :resume do |g| %>

    <%= g.fields_for :skill do |h| %>
      <p>
        <%= h.text_field :name, placeholder: 'Skill Name', class: "form-control" %>
      </p>
    <% end %>

    <%= g.fields_for :experience do |i| %>
      <p>
        <%= i.text_field :name, placeholder: 'Experience Name', class: "form-control" %>
        <%= i.text_field :summary, placeholder: 'Experience Summary', class: "form-control" %>
      </p>
    <% end %>

    <%= g.fields_for :project do |j| %>
      <p>
        <%= j.text_field :name, placeholder: 'Project Name', class: "form-control" %>
        <%= j.text_field :summary, placeholder: 'Project Summary', class: "form-control" %>
      </p>
    <% end %>

    <%= g.fields_for :education do |k| %>
      <p>
        <%= k.text_field :name, placeholder: 'Education Name', class: "form-control" %>
        <%= k.text_field :school_name, placeholder: 'School Name', class: "form-control" %>
      </p>
    <% end %>

  <% end%>

  <p>
    <%= f.submit 'Sign Up', class: "btn btn-primary", id: "signUpSubmit" %>
  </p>
<% end %>
